[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = "*"
kivymd = "*"
sqlalchemy = "*"
lxml = "*"
requests = "*"
beautifulsoup4 = "*"
yadisk = "*"

[dev-packages]

[requires]
python_version = "3.9"
